<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.PhotoMapper">
  <resultMap id="BaseResultMap" type="com.ssm.pojo.Photo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="uploaduser" jdbcType="VARCHAR" property="uploaduser" />
    <result column="uploadtime" jdbcType="VARCHAR" property="uploadtime" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
  </resultMap>
  <select id="findPhotoByTime" parameterType="java.util.HashMap" resultType="com.ssm.pojo.Photo">
        SELECT * FROM t_photo 
		<where>
		<if test="key!=null and key!=''">
		name like CONCAT('%',#{key},'%')
		</if>
        <if test="startTime!=null and startTime!=''">
        and uploadtime &gt;= #{startTime}  
        </if>
        <if test="endTime!=null and endTime!=''">
        and uploadtime &lt;= #{endTime}
        </if>
       </where> 
    </select>
  <select id="findPhotoById" parameterType="int" resultType="com.ssm.pojo.Photo">
        SELECT * FROM t_photo WHERE id = #{id}
    </select>
  <select id="findPhotoByName" parameterType="int" resultType="com.ssm.pojo.Photo">
        SELECT * FROM t_photo WHERE name = #{name}
    </select>
  <select id="searchPhotoByKey" resultType="com.ssm.pojo.Photo"
        parameterType="com.ssm.pojo.Photo">
        SELECT * FROM t_photo where id like CONCAT('%',#{key},'%')
		   or name like CONCAT('%',#{key},'%')
		   or description like CONCAT('%',#{key},'%')
		   or uploaduser like CONCAT('%',#{key},'%')
    </select>
  <select id="total" resultType="int">
            select count(*) from   t_photo     
        </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, description, uploaduser, uploadtime, filename, salt, tid
  </sql>
  <select id="selectByExample" parameterType="com.ssm.pojo.PhotoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_photo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_photo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_photo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ssm.pojo.Photo" useGeneratedKeys="true">
    insert into t_photo (name, description, uploaduser, 
      uploadtime, filename, salt,tid
      )
    values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{uploaduser,jdbcType=VARCHAR}, 
      #{uploadtime,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{tid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ssm.pojo.Photo" useGeneratedKeys="true">
    insert into t_photo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="uploaduser != null">
        uploaduser,
      </if>
      <if test="uploadtime != null">
        uploadtime,
      </if>
      <if test="filename != null">
        filename,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="tid != null">
        tid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="uploaduser != null">
        #{uploaduser,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.pojo.Photo">
    update t_photo
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="uploaduser != null">
        uploaduser = #{uploaduser,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null">
        uploadtime = #{uploadtime,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.pojo.Photo">
    update t_photo
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      uploaduser = #{uploaduser,jdbcType=VARCHAR},
      uploadtime = #{uploadtime,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>